* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  color: rgba(44, 62, 80,1.0);
}

main {
  padding: 1rem;
}

main h1 {
  text-align: center;
}

/* styling form */

form {
  margin: 1rem 0;
}

.form-group {
  margin: 1rem 0;
}

.form-input {
  display: block;
  width: 100%;
  margin: 0.5rem 0;
  padding: 1rem;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
}

.form-button {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: #1abc9c;
  color: #ecf0f1;
  border: none;
  display: block;
}

/* styling playlists */

.playlists {
  background-color: rgba(26, 188, 156, 0.1);
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
}

.playlist {
  padding: 1rem;
  width: 33.3333%;
}

.playlist-image {
  border-radius: 10px;
  margin-bottom: 1rem;
}

.playlist-image img {
  height: 300px;
  border-radius: 10px;
  width: 100%;
  object-fit: cover;
}

.playlist-title, .playlist-artist, .playlist-album {
  margin-bottom: 1rem;
}

.playlist-button {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: rgba(26, 188, 156,1.0);
  color: rgba(236, 240, 241,1.0);
  border: none;
  display: block;
  margin:
}